@{
    ViewData["Title"] = "Home Page";
}

    Email: <input type="text" id="txtEmail" name="name" placeholder="email" value="" />
    Password:  <input type="password" id="txtPassword" name="name" placeholder="password" value="" /><br />
<input type="button" id="btnSetLocal" onclick="setLocalStorage()" name="name" value="Introducir en local storage" /><br />
<input type="button" id="btnGetLocal" onclick="getLocalStorage()" name="name" value="Recoger de local storage" />

<div id="listaUsuarios">

</div>
